*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
footer{
    font-size: xx-large;
    background-color: blueviolet;
}
p{
    background-color: palevioletred;
    border: 20px;
    border-radius: 30px;
}